<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="container" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <h1>REGISTRO</h1>
        <div class="row">

            <div class="form-group col-12">
              <label for="name"></label>
              <input
              [class.temblor]="this.error"
              type="name"
              class="form-control"
              id="name"
              placeholder="Usuario *"
              formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
              required>
            </div>
        <div *ngIf="f['name'].errors && f['name'].errors['required'] && submitted">Se requiere un usuario</div>

            <div class="form-group col-12">
              <label for="contrasena"></label>
              <input
              [class.temblor]="this.error"
              type="password"
              class="form-control"
              id="contrasena"
              placeholder="Contraseña *"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              required>
            </div>
            <div *ngIf="f['password'].errors && f['password'].errors['required'] && submitted">Se requiere una contraseña</div>

            <div class="form-group col-12">
              <label for="contrasena-repetida"></label>
              <input
              [class.temblor]="this.error"
              type="password"
              class="form-control"
              id="contrasena-repetida"
              placeholder="Repetir contraseña *"
              formControlName="contrasenarepe"
              [ngClass]="{ 'is-invalid': submitted && f['contrasenarepe'].errors || validatePassword}"
              required>
            </div>
            <div *ngIf="f['contrasenarepe'].errors && f['contrasenarepe'].errors['required'] && submitted">Se requiere repetir la contraseña</div>
            <div *ngIf="validatePassword">Las contraseñas no coinciden</div>

            <div class="form-group col-12">
              <label for="email"></label>
              <input
              [class.temblor]="this.error"
              type="text"
              class="form-control"
              id="email"
              placeholder="Email *"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              required>
            </div>
            <div *ngIf="f['email'].errors && f['email'].errors['required'] && submitted">Se requiere un email</div>
            <div *ngIf="f['email'].errors && f['email'].errors['email'] && submitted">Se requiere un email válido</div>


            <div class="form-check divcenter temblor">
              <input
                  [class.temblor]="this.error"
                  class="form-check-input"
                  type="checkbox"
                  name="condiciones"
                  value=""
                  id="condiciones"
                  formControlName="condiciones"
                  [ngClass]="{ 'is-invalid': submitted && f['condiciones'].errors }"
                  required>
              <label class="form-check-label temblor" for="condiciones">
                  He leído y acepto los términos y condiciones de servicio.
              </label>
          </div>
          <div *ngIf="f['condiciones'].errors  && submitted">Debes aceptar los términos y condiciones >:(</div>



            <button type="submit" class="btn btn-primary red" >Registrarse</button>
        </div>
      </form>
</body>
</html>
